desktop.ini
.DS_Store
.httr-oauth
.Rproj.user
.Rhistory
R/.Rhistory
.RData
*.Rprof.out
*.Rproj
*~
[#]*[#]
# artifacts of R CMD check/build
*.Rcheck
*.tar.gz
Rplots.pdf
inst/doc
docs
internal.md
data/unadjusted-brmcoda.RData
data/adjusted-brmcoda.RData
data/unadjusted-mvmcoda.RData
data/adjusted-mvmcoda.RData
vignettes/fit_centered

*.pdf
